html, body {
  height: 100%;
  margin: 0;
}
body{
    background-color: none;
    font-size:1.5rem;
    font-size:1rem;
    font-size:1.2rem;  
}

.topnav {
  background-color: none;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: lightblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
  font-weight: 900;
}

.active {
  background-color: white;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 27px;
  border: none;
  outline: none;
  color: lightblue;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  opacity: 0.5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: lightblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
.card {
  display: flex;
  justify-content: center;
  align: center;
  max-width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

img { 
    border-radius: 50%;
    opacity: 1;
    max-width: 100%;
    height: 200px;
    margin: auto;
}
.title {
       Opacity: 0.8;
       font-weight: 900;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.button{
  background-color: lightblue;
  border: none;
  color: black;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50%;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}
.button.btn {
    border-radius: 50px;}
button:hover, a:hover {
  opacity: 0.7;
}

.fa {
  padding: 8px;
  font-size: 200px;
  width: 10px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}
.anima{
  width: 100px;
  height: 100px;
  border-radius: 12px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:lightblue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color: lightblue; left:0px; top:0px;}
}

