html { font-size: 100%;
}
@media (min-width: 640px);  
@media (min-width:960px); 
@media (min-width:1100px);
body{
    background-color: none;
    font-size:1.5rem;
    font-size:1rem;
    font-size:1.2rem;  
}

.topnav {
  background-color: none;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: lightblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
  font-weight: 900;
}

.active {
  background-color: white;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 27px;
  border: none;
  outline: none;
  color: lightblue;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  opacity: 0.5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: lightblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
 }
h1{
    align-text: center;
}

.container {
     display: flex;
     padding: 20px;
     justify-content: center;
     flex-direction: row;
     flex-wrap: wrap;
     transition:0.1s;
}
.container:hover {
    opacity: 1;
}
.item {
    margin: 20px;
    height:200px;
    width: 200px;
    transition: transform .2s;
}
.item:hover { 
    -ms-transform: scale(1.2);
    -webkit- transform: scale(1.2);
     transform: scale(1.2);
}
.img1{
    background-color: none;
    backround-radius: 50px;
    transition: transform .2s;
    max-width: 100%;
    height: auto;

}

.img1:hover{
    -ms-transform: scale(1.2);
    -webkit- transform: scale(1.2);
     transform: scale(1.2); 
}
.img2{
    background-color: none;
    backround-radius: 50px;
    transition: transform .2s;
    max-width: 100%;
    height: auto;
}

.img2:hover{
    -ms-transform: scale(1.2);
    -webkit- transform: scale(1.2);
     transform: scale(1.2); 
}

.img3{
    background-color: none;
    backround-radius: 50px;
    transition: transform .2s;
    max-width: 100%;
    height: auto;
}

.img3:hover{
    -ms-transform: scale(1.2);
    -webkit- transform: scale(1.2);
     transform: scale(1.2); 
}

.img4{
    background-color: none;
    backround-radius: 50px;
    transition: transform .2s;
    max-width: 100%;
    height: auto;
}

.img4:hover{
    -ms-transform: scale(1.2);
    -webkit- transform: scale(1.2);
     transform: scale(1.2); 
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.button {
  background-color: lightblue;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.button.btn {
    border-radius: 50px;}
button:hover, a:hover {
  opacity: 0.7;
}
footer{
    text-align: center;
    font-weight: bold;
    font-family: condense;
}
