html { font-size: 100%;
}
@media (min-width: 640px);  
@media (min-width:960px); 
@media (min-width:1100px);
body{
    background-color: none;
    font-size:1.5rem;
    font-size:1rem;
    font-size:1.2rem;  
}

.topnav {
  background-color: none;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: lightblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
  font-weight: 900;
}

.active {
  background-color: white;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 27px;
  border: none;
  outline: none;
  color: lightblue;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  opacity: 0.5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: lightblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
 }

.pads{
    opacity: 0.8;
}
.skills{
  background-color: lightblue;
  color: black;
  list-style: none; 
  border-radius:  12px;
  font-family: Times New Roman, Times, serif;
  transition: transform .2s
}

.skills:hover{
    -ms-transform: scale(1.1);
    -webkit- transform: scale(1.1);
     transform: scale(1.1);
}

.Tskills{
  background-color: lightblue;
  color: black;
  list-style: none; 
  border-radius:  12px;
  font-family: Times New Roman, Times, serif;
  transition: transform .2s
}

.Tskills:hover{
    -ms-transform: scale(1.1);
    -webkit- transform: scale(1.1);
     transform: scale(1.1);

}

.pl{
  background-color: lightblue;
  color: black;
  list-style: none; 
  border-radius:  12px;
  font-family: Times New Roman, Times, serif;
  transition: transform .2s
}

.pl:hover {
    -ms-transform: scale(1.1);
    -webkit- transform: scale(1.1);
     transform: scale(1.1);
}

.hl{
  background-color: lightblue;
  color: black;
  list-style: none; 
  border-radius:  12px;
  font-family: Times New Roman, Times, serif;
  transition: transform .2s 
}

.hl:hover{
    -ms-transform: scale(1.1);
    -webkit- transform: scale(1.1);
     transform: scale(1.1);
}

.ex{
  background-color: lightblue;
  color: black;
  list-style: none; 
  border-radius:  12px;
  font-family: Times New Roman, Times, serif;
  transition: transform .2s
}

.ex:hover{
    -ms-transform: scale(1.1);
    -webkit- transform: scale(1.1);
     transform: scale(1.1);
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: blue;
}

.button {
  background-color: lightblue;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.button.btn {
    border-radius: 50px;}
button:hover, a:hover {
  opacity: 0.7;
}

footer{
    text-align: center;
    font-weight: bold;
    font-family: condense;
}
